<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
    {{CommonResources.Donations}}
    <!--<small>List of donation</small>-->
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> {{MenuResources.Donation}}</a></li>
        <li class="active">{{CommonResources.Donations}}</li>
        <li class="active">{{CommonResources.Edit}} {{CommonResources.Donation}}</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div messages-container></div>
                <div class="box-header with-border">
                    <h3 class="box-title">{{CommonResources.Edit}} {{CommonResources.Donation}}</h3>
                </div>
                <form name="form" ng-submit="submitForm(form.$valid)" novalidate>
                    <div class="box-body">
                        <!-- name -->
                        <div class="form-group" ng-class="{ 'has-error' : form.donor_name.$invalid && form.donor_name.$touched }">
                            <label>{{CommonResources.Name}}</label>
                            <input type="text" name="donor_name" class="form-control" ng-model="donation.donor_name" ng-disabled="true">
                            <p ng-show="form.donor_name.$invalid && form.donor_name.$touched" class="help-block">{{CommonResources.Msg_Required.format(CommonResources.Name)}}</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : form.method.$invalid && form.method.$touched }">
                            <label>Method</label>
                            <input type="text" name="method" class="form-control" ng-model="donation.method">
                            <p ng-show="form.method.$invalid && form.method.$touched" class="help-block">{{CommonResources.Msg_Required.format(CommonResources.Name)}}</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : form.amount.$invalid && form.amount.$touched }">
                            <label>Amount</label>
                            <input type="text" name="amount" class="form-control" ng-model="donation.amount">
                            <p ng-show="form.amount.$invalid && form.amount.$touched" class="help-block">{{CommonResources.Msg_Required.format(CommonResources.Name)}}</p>
                        </div>

                        <!-- note -->
                        <div class="form-group" ng-class="{ 'has-error' : form.description.$invalid && form.description.$touched }">
                            <label>Description</label>
                            <textarea ng-model="donation.description"class="form-control" rows="3" placeholder=""></textarea>
                        </div>

                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary margin-right-buffer" ng-disabled="form.$invalid">{{CommonResources.Submit}}</button>
                            <a href="#/donation/donations" class="btn btn-default">{{CommonResources.Cancel}}</a>
                        </div>

                        
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (left) -->
    </div>
</section>
<!-- right col -->
</div>
<!-- /.row (main row) -->
</section>
<!-- /.content -->
