<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
    {{ConfigurationResources.Users}}
    <!--<small>List of user</small>-->
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> {{MenuResources.Configurations}}</a></li>
        <li class="active">{{ConfigurationResources.Users}}</li>
        <li class="active">{{CommonResources.Create}} {{ConfigurationResources.User}}</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div messages-container></div>
                <div class="box-header with-border">
                    <h3 class="box-title">{{CommonResources.Create}} {{ConfigurationResources.User}}</h3>
                </div>
                <form name="entityForm" ng-submit="submitForm(entityForm.$valid)" novalidate>
                    <div class="box-body">
                        <!-- name -->
                        <div class="form-group" ng-class="{ 'has-error' : entityForm.name.$invalid && entityForm.name.$touched }">
                            <label>{{CommonResources.Name}}</label>
                            <input type="text" name="name" class="form-control" ng-model="entity.name" required>
                            <p ng-show="entityForm.name.$invalid && entityForm.name.$touched" class="help-block">{{CommonResources.Msg_Required.format(CommonResources.Name)}}</p>
                        </div>
                        <!-- username -->
                        <div class="form-group" ng-class="{ 'has-error' : entityForm.username.$invalid && entityForm.username.$touched }">
                            <label>{{ConfigurationResources.Username}}</label>
                            <input type="text" name="username" class="form-control" ng-model="entity.username" ng-minlength="3" ng-maxlength="20">
                            <p ng-show="entityForm.username.$error.minlength" class="help-block">{{CommonResources.Msg_TooShort.format(ConfigurationResources.Username)}}</p>
                            <p ng-show="entityForm.username.$error.maxlength" class="help-block">{{CommonResources.Msg_TooLong.format(ConfigurationResources.Username)}}</p>
                        </div>
                        <!-- email -->
                        <div class="form-group" ng-class="{ 'has-error' : entityForm.email.$invalid && entityForm.email.$touched }">
                            <label>{{ConfigurationResources.Email}}</label>
                            <input type="email" name="email" class="form-control" ng-model="entity.email">
                            <p ng-show="entityForm.email.$invalid && entityForm.email.$touched" class="help-block">{{CommonResources.Msg_InvalidEmail.format(ConfigurationResources.Email)}}</p>
                        </div>
                        <!-- password -->
                        <div class="form-group" ng-class="{ 'has-error' : entityForm.password.$invalid && entityForm.password.$touched }">
                            <label>{{ConfigurationResources.Password}}</label>
                            <input type="password" name="password" class="form-control" ng-model="entity.password" required>
                            <p ng-show="entityForm.password.$invalid && entityForm.password.$touched" class="help-block">{{CommonResources.Msg_Required.format(ConfigurationResources.Password)}}</p>
                        </div>
                        <!-- confirm password -->
                        <div class="form-group" ng-class="{ 'has-error' : (entity.password != entity.confirmPassword || entityForm.confirmPassword.$invalid) && entityForm.confirmPassword.$touched }">
                            <label>{{ConfigurationResources.ConfirmPassword}}</label>
                            <input type="password" name="confirmPassword" class="form-control" ng-model="entity.confirmPassword" required>
                            <p ng-show="entityForm.confirmPassword.$invalid && entityForm.confirmPassword.$touched" class="help-block">{{CommonResources.Msg_Required.format(ConfigurationResources.ConfirmPassword)}}</p>
                            <p ng-show="entity.password != entity.confirmPassword && entityForm.confirmPassword.$touched" class="help-block">{{CommonResources.Msg_NotMatch.format(ConfigurationResources.ConfirmPassword)}}</p>
                        </div>
                        <!-- status -->
                        <div class="form-group" ng-class="{ 'has-error' : entityForm.status_id.$invalid && entityForm.status_id.$touched }">
                            <label for="status_id">{{ConfigurationResources.Status}}</label>
                            <status-dropdown name="status_id"  ng-model="entity.status_id" required></status-dropdown>
                            <p ng-show="entityForm.status_id.$invalid && entityForm.status_id.$touched" class="help-block">{{CommonResources.Msg_Required.format(CommonResources.Status)}}</p>
                        </div>
                        <!-- language -->
                        <div class="form-group" ng-class="{ 'has-error' : entityForm.language_id.$invalid && entityForm.language_id.$touched }">
                            <label for="language_id">{{DictionaryResources.Language}}</label>
                            <language-dropdown name="language_id"  ng-model="entity.language_id" required></language-dropdown>
                            <p ng-show="entityForm.language_id.$invalid && entityForm.language_id.$touched" class="help-block">{{CommonResources.Msg_Required.format(DictionaryResources.Language)}}</p>
                        </div>
                        <!-- button -->
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary margin-right-buffer" ng-disabled="entityForm.$invalid">{{CommonResources.Submit}}</button>
                            <a href="#/configurations/users" class="btn btn-default">{{CommonResources.Cancel}}</a>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (left) -->
    </div>
</section>
<!-- right col -->
</div>
<!-- /.row (main row) -->
</section>
<!-- /.content