<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
    {{MenuResources.Languages}}
    <!-- <small>List of language</small> -->
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-book"></i>{{MenuResources.Dictionary}}</a></li>
        <li class="active">{{MenuResources.Languages}}</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col col-xs-12">
            <div class="box box box-primary">
                <div messages-container></div>
                <div class="box-header">
                    <h3 class="box-title"></h3>
                    <div class="box-tools">
                        <div class="input-group" style="width: 450px;">
                            <div class="input-group-btn">
                                <a href="#/dictionary/language/create" class="btn btn-sm btn-primary pull-right"><i class="fa fa-plus right-margin-buffer"></i> {{CommonResources.Add}} {{DictionaryResources.Language}}</a>
                                <button ng-click="tableParams.reload()" class="btn btn-sm btn-default pull-right"><i class="fa fa-refresh right-margin-buffer"></i> {{CommonResources.Reload}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div loading-container="tableParams.settings().$loading" class="box-body table-responsive">
                    <table ng-table="tableParams" show-filter="true" class="table table-hover" > <!-- ng-hide="tableParams.settings().$loading" -->
                    <tr ng-repeat="item in $data">
                        <td data-title="CommonResources.Action" class="text-center" style="width:120px">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-flat" data-toggle="dropdown">{{CommonResources.Action}}</button>
                                <button type="button" class="btn btn-primary btn-flat dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#/dictionary/language/{{item.id}}">{{CommonResources.Edit}}</a></li>
                                    <li><a href="" ng-click="delete(item.id, item.name)">{{CommonResources.Delete}}</a></li>
                                </ul>
                            </div>
                        </td>
                        <td data-title="CommonResources.Id" filter="{ 'name': 'text' }" sortable="'id'" class='col-md-1 text-center' >
                            {{item.id}}
                        </td>
                        <td data-title="CommonResources.Code" filter="{ 'code': 'text' }" sortable="'code'">
                            {{item.code}}
                        </td>
                        <td data-title="CommonResources.Name" filter="{ 'name': 'text' }" sortable="'name'">
                            {{item.name}}
                        </td>
                        <td data-title="CommonResources.Description" filter="{ 'description': 'text' }" sortable="'description'">
                            {{item.description}}
                        </td>
                        <td class="col-md-1 text-center" data-title="CommonResources.Status" filter="{status_id: 'select'}" filter-data="getStatusFilterOptions()" sortable="'status_id'">
                            <span status-label value="item.status_id"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.row (main row) -->
</section>
<!-- /.content -->