<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
    {{MenuResources.WordManagement}}
    <!-- <small>List of word</small> -->
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>{{MenuResources.Dictionary}}</a></li>
        <li class="active">{{DictionaryResources.Words}}</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col col-xs-12">
            <div class="box box box-primary">
                <div messages-container></div>
                <div class="box-header">
                    <h3 class="box-title"></h3>
                    <div class="box-tools">
                        <div class="input-group" style="width: 450px;">
                            <div class="input-group-btn">
                                <a href="#/dictionary/word/create" class="btn btn-sm btn-primary pull-right"><i class="fa fa-plus right-margin-buffer"></i> {{CommonResources.Add}} {{DictionaryResources.Word}}</a>
                                <button ng-click="tableParams.reload()" class="btn btn-sm btn-default pull-right"><i class="fa fa-refresh right-margin-buffer"></i> {{CommonResources.Reload}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  <button ng-click="tableParams.reload()" class="btn pull-right">Reload</button>
                <button ng-click="tableParams.sorting({})" class="btn pull-right">Clear sorting</button> -->
                <div class="clearfix"></div>
                <div loading-container="tableParams.settings().$loading" class="box-body table-responsive">
                    <table ng-table="tableParams" show-filter="true" class="table table-hover" >
                        <tr ng-repeat="item in $data">
                            <td data-title="CommonResources.Action" class="text-center" style="width:120px">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary btn-flat" data-toggle="dropdown">{{CommonResources.Action}}</button>
                                    <button type="button" class="btn btn-primary btn-flat dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#/dictionary/word/{{item.id}}">{{CommonResources.Edit}}</a></li>
                                        <li><a href="" ng-click="delete(item.id, item.word)">{{CommonResources.Delete}}</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td data-title="DictionaryResources.Word" filter="{ 'word': 'text' }" sortable="'word'">
                                {{item.word}}
                            </td>
                            <td data-title="DictionaryResources.Language" filter="{ 'language': 'select' }" filter-data="getLanguageFilterOptions()" sortable="'language'">
                                {{item.language}}
                            </td>
                            <td data-title="CommonResources.Description" filter="{ 'description': 'text' }" sortable="'word'">
                                {{item.description}}
                            </td>
                            <td class="col-md-1" data-title="DictionaryResources.WordType" filter="{ 'word_type': 'text' }" sortable="'word_type'">
                                {{item.word_type}}
                            </td>
                            <td class="col-md-1 text-center" data-title="DictionaryResources.IsOnDictionary" filter="{ 'is_on_dictionary': 'select' }" filter-data="getBooleanFilterOptions()" sortable="'is_on_dictionary'">
                                <span boolean-label value="item.is_on_dictionary"></span>
                            </td>
                            <td class="col-md-1 text-center" data-title="CommonResources.Status" filter="{status_id: 'select'}" filter-data="getStatusFilterOptions()" sortable="'status_id'">
                                <span status-label value="item.status_id"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row (main row) -->
</section>
<!-- /.content -->