<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
    {{MenuResources.WordManagement}}
    <!--<small>List of language</small>-->
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> {{MenuResources.Dictionary}}</a></li>
        <li class="active">{{MenuResources.Words}}</li>
        <li class="active">{{CommonResources.Create}} {{DictionaryResources.Word}}</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div messages-container></div>
                <div class="box-header with-border">
                    <h3 class="box-title">{{CommonResources.Create}} {{DictionaryResources.Word}}</h3>
                </div>
                <form name="entityForm" ng-submit="submitForm(entityForm.$valid)" novalidate>
                    <div class="box-body">
                        <!-- code -->
                        <div class="form-group" ng-class="{ 'has-error' : entityForm.word.$invalid && entityForm.word.$touched }">
                            <label>{{DictionaryResources.Word}}</label>
                            <input type="text" name="word" class="form-control" ng-model="entity.word" required>
                            <p ng-show="entityForm.word.$invalid && entityForm.word.$touched" class="help-block">{{CommonResources.Msg_Required.format(DictionaryResources.Word)}}</p>
                        </div>
                        <!-- language -->
                        <div class="form-group" ng-class="{ 'has-error' : entityForm.language_id.$invalid && entityForm.language_id.$touched }">
                            <label for="language_id">{{DictionaryResources.Language}}</label>
                            <language-dropdown name="language_id"  ng-model="entity.language_id" required></language-dropdown>
                            <p ng-show="entityForm.language_id.$invalid && entityForm.language_id.$touched" class="help-block">{{CommonResources.Msg_Required.format(DictionaryResources.Language)}}</p>
                        </div>
                        <!-- Description -->
                        <div class="form-group" ng-class="{ 'has-error' : form.description.$invalid && form.description.$touched }">
                            <label for="description">Description</label>
                            <textarea name="description" id="description" ng-model="entity.description"class="form-control" rows="3" placeholder=""></textarea>
                        </div>
                        <!-- Is On Dictionary -->
                        <div class="form-group" ng-class="{ 'has-error' : entityForm.is_on_dictionary.$invalid && entityForm.is_on_dictionary.$touched }">
                            <label for="is_on_dictionary">{{DictionaryResources.IsOnDictionary}}</label> <br/>
                            <select ng-init="entity.is_on_dictionary = entity.is_on_dictionary" name="is_on_dictionary" id="is_on_dictionary" class="form-control"
                                ng-options="option.id as option.title for option in booleanDropdownOptions"
                                ng-model="entity.is_on_dictionary">
                                <option></option>
                            </select>
                            <p ng-show="entityForm.is_on_dictionary.$invalid && entityForm.is_on_dictionary.$touched" class="help-block">{{CommonResources.Msg_Required.format(DictionaryResources.IsOnDictionary)}}</p>
                        </div>
                        <!-- Word Type -->
                        <div class="form-group" ng-class="{ 'has-error' : entityForm.word_type_id.$invalid && entityForm.word_type_id.$touched }">
                            <label for="word_type_id">{{DictionaryResources.WordType}}</label>
                            <select ng-init="entity.word_type_id = entity.word_type_id" name="word_type_id" id="word_type_id" class="form-control"
                                ng-options="option.id as option.name for option in wordTypeOptions"
                                ng-model="entity.word_type_id">
                                 <option value=""></option>
                            </select>
                            <p ng-show="entityForm.word_type_id.$invalid && entityForm.word_type_id.$touched" class="help-block">{{CommonResources.Msg_Required.format(DictionaryResources.WordType)}}</p>
                        </div>
                        <!-- status -->
                        <div class="form-group" ng-class="{ 'has-error' : entityForm.status_id.$invalid && entityForm.status_id.$touched }">
                            <label for="status_id">{{ConfigurationResources.Status}}</label>
                            <status-dropdown name="status_id"  ng-model="entity.status_id" required></status-dropdown>
                            <p ng-show="entityForm.status_id.$invalid && entityForm.status_id.$touched" class="help-block">{{CommonResources.Msg_Required.format(CommonResources.Status)}}</p>
                        </div>
                        <!-- button -->
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary margin-right-buffer" ng-disabled="entityForm.$invalid">{{CommonResources.Submit}}</button>
                            <a href="#/dictionary/words" class="btn btn-default">{{CommonResources.Cancel}}</a>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (left) -->
    </div>
</section>