<div class="col-md-9 text-center iklan-panjang navbar-fixed-bottom">
	<!-- <script type="text/javascript">
		atOptions = {
			'key' : 'b4e3c588c23d8ae84c0a6e57b68826d4',
			'format' : 'iframe',
			'height' : 90,
			'width' : 728,
			'params' : {}
		};
		document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.bnhtml.com/invoke.js"></scr' + 'ipt>');
	</script> -->
	<script type='text/javascript'>
	<!--//<![CDATA[
	   document.MAX_ct0 ='';
	   var m3_u = (location.protocol=='https:'?'https://cas.criteo.com/delivery/ajs.php?':'http://cas.criteo.com/delivery/ajs.php?');
	   var m3_r = Math.floor(Math.random()*99999999999);
	   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
	   document.write ("zoneid=415644");document.write("&amp;nodis=1");
	   document.write ('&amp;cb=' + m3_r);
	   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
	   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
	   document.write ("&amp;loc=" + escape(window.location).substring(0,1600));
	   if (document.context) document.write ("&context=" + escape(document.context));
	   if ((typeof(document.MAX_ct0) != 'undefined') && (document.MAX_ct0.substring(0,4) == 'http')) {
		   document.write ("&amp;ct0=" + escape(document.MAX_ct0));
	   }
	   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
	   var publisherurl = "%%SITE%%";
	   var macro = "%%SI" + "TE%%";
	   if (publisherurl !== macro) document.write ("&amp;publisherurl="+publisherurl);
	   document.write ("'></scr"+"ipt>");
	//]]>-->
	</script>
	<script data-cfasync="false" type="text/javascript" src="http://www.adnetworkperformance.com/a/display.php?r=1260537"></script>
</div>
<div class="col-md-3 iklan-kotak" >
	<script type='text/javascript'>
	<!--//<![CDATA[
	   document.MAX_ct0 ='';
	   var m3_u = (location.protocol=='https:'?'https://cas.criteo.com/delivery/ajs.php?':'http://cas.criteo.com/delivery/ajs.php?');
	   var m3_r = Math.floor(Math.random()*99999999999);
	   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
	   document.write ("zoneid=416328");document.write("&amp;nodis=1");
	   document.write ('&amp;cb=' + m3_r);
	   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
	   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
	   document.write ("&amp;loc=" + escape(window.location).substring(0,1600));
	   if (document.context) document.write ("&context=" + escape(document.context));
	   if ((typeof(document.MAX_ct0) != 'undefined') && (document.MAX_ct0.substring(0,4) == 'http')) {
		   document.write ("&amp;ct0=" + escape(document.MAX_ct0));
	   }
	   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
	   var publisherurl = "%%SITE%%";
	   var macro = "%%SI" + "TE%%";
	   if (publisherurl !== macro) document.write ("&amp;publisherurl="+publisherurl);
	   document.write ("'></scr"+"ipt>");
	//]]>-->
	</script>
	<!-- <script type="text/javascript">
		atOptions = {
			'key' : 'b6737073e9577cdf4448f99e7e0813ce',
			'format' : 'iframe',
			'height' : 250,
			'width' : 300,
			'params' : {}
		};
		document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.bnhtml.com/invoke.js"></scr' + 'ipt>');
	</script> -->
</div>
