<!--
    Content Header (Page header)
-->
<section class="content-header">
    <h1>
        {{MenuResources.Run}}
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard">
                </i>
                {{MenuResources.Run}}
            </a>
        </li>
    </ol>
</section>
<!--
    Main content
-->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div messages-container>
                </div>
                <div class="box-header with-border">
                    <h3 class="box-title">
                        {{MenuResources.Run}}
                    </h3>
                </div>
                <div class="clearfix">
                </div>
                <form name="form" ng-submit="submitForm(form.$valid)" novalidate>
                    <div class="box-body">
                        <!-- dropdown -->
                        <div class="form-group col-md-12">
                            <!-- <div class="col-md-6"> -->
                                <language-dropdown name="language_id"  class="col-md-6" ng-model="entity.from" required>
                                </language-dropdown>
                            <!-- </div> -->
                            <!-- <div class="col-md-6"> -->
                                <language-dropdown name="language_id"  class="col-md-6" ng-model="entity.to" required>
                                </language-dropdown>
                            <!-- </div> -->
                        </div>

                        <!-- textarea source -->
                        <div class="form-group  col-md-12">
                            <div class="col-md-6">
                                <textarea id="source" name="source" ng-change="onChange();" class="form-control" ng-model="entity.source" style="min-height: 100px;">
                                </textarea>
                            </div>
                            <span id="result"  class="col-md-6">
                                {{entity.result}}
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col (left) -->
    </div>
</section>
<!--
    right col
-->
</div>
<!--
/.row (main row)
-->
</section>
<!--
/.content
-->
