<h5>{{message}} Mongosilakan</h5>
<p>Name : <input type="text" ng-model="name"></p>
{{name}}
<div >
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  <button class='btn btn-default' ng-click="addAlert()">Add Alert</button>
</div>